body {
  font-family: "Open Sans", sans-serif;
  background: #2c2b3d;
  color: #fff;
}

.page {
  /* border: 1px solid red; */
  margin: 71px 99px 23px;
  height: 720px;
}

.nav-bar {
  display: flex;
  justify-content: space-around;
  align-items: center;

  margin: 71px 99px 101px;
}

.nav-bar img {
  margin-right: 600px;
}

ul {
  display: flex;
  gap: 64px;
  list-style: none;

  font-family: "JetBrains Mono", sans-serif;
  font-weight: 500;
  color: #fff;
}

.main-content {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

section {
  display: flex;
}

.text {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
  align-items: center;
  text-align: center;
  color: #c2c2c2;
  width: 604px;
}

h1 {
  display: flex;
  text-align: justify;

  font-family: "JetBrains Mono", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 40px;
  text-align: center;

  font-size: 36px;
  line-height: 40px;

  margin-bottom: 59px;
  color: #fff;
}

p {
  font-size: 16px;
  line-height: 28px;
  align-self: center;
}

span {
  color: #00bfa6;
}

.line {
  margin: 157px auto 8px;
  border: 1px solid #00bfa6;
  width: 568px;
}

#padlock {
  position: fixed;
  bottom: 100px;
  left: 120px;
}

footer p {
  font-family: "JetBrains Mono", sans-serif;
  text-align: center;
}
